<!DOCTYPE html>
<html>
  <head>
    <title>Pictr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
          body {
            backgroundImage: `url("https://i.ibb.co/pXvJbpj/pictr-backdrop.jpg")`;
          }
    </style>
  </head>
  <body>
  <%= yield %>
  </body>
</html>
